<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Huawei\Desktop\L3DSI2\Projet d'integration PI\PI2\StudentEvents\src\app\navbar\navbar.component.css"> 
    <title>Votre titre ici</title>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <!-- Logo à gauche -->
        <div class="logo-container">
            <img src="C:\Users\Huawei\Desktop\L3DSI2\Projet d'integration PI\PI2\StudentEvents\src\app\Images\Event Tracker-logos_transparent.png" class="logo">
        </div>

        <a href="#" class="nav-link">Home</a>

        <div class="search-box">
            <input type="text" name="" class="search-txt" placeholder="Rechercher..." />
            <a class="search-btn" href="#">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </div>

        <button class="btn"><span>Espace Club</span></button>
    </nav>

</body>

</html>
