<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Huawei\Desktop\L3DSI2\Projet d'integration PI\PI2\StudentEvents\src\app\event-list\event-list.component.css">
    <!-- Ajoutez le lien vers le fichier CSS de Bootstrap ici si nécessaire -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-rBbhWbZ+x6uyt1CZPo3P0KwPGmN7vQayhJ2AObc/0PZsPWTXucTzXJdo/1bfwBIcvHL/zWA8ZdOL1KlrM6I1jA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <div class="event-container">
    <div class="event">
      <!-- Contenu de votre événement -->
        <img src="C:\Users\Huawei\Desktop\L3DSI2\Projet d'integration PI\PI2\StudentEvents\src\app\Images\Event 1.png" class="img_event"/>
      <p>HUMANISATION DE VOTRE MARQUE : LE RÔLE DE L'AUTHENTICITÉ DANS LE MARKETING</p>
      <p>Lieu: GOMYCODE Boumhel</p>
      <p>Heure: 14h00 - 16h00</p>
      <i class="fas fa-calendar-alt"></i> Date: 01/01/2024
      <button>Join</button>
    </div>

    <div class="event">
      <!-- Contenu de votre événement -->
        <img src="C:\Users\Huawei\Desktop\L3DSI2\Projet d'integration PI\PI2\StudentEvents\src\app\Images\Event 2.png" class="img_event"/>
      <p>Meeting in Tunisia: Develop your IT career with U.S. CS Masters</p>
      <p>Lieu: El Mouradi Gammarth</p>
      <p>Heure: 13h00 - 15h00</p>
      <i class="fas fa-calendar-alt"></i> Date: 04/01/2024
      <button>Join</button>
    </div>
  </div>

</body>
</html>
